<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit task</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="container">
	<h1>Edit task</h1>
	<div class="col-md-4">
	<div>
			
		<form th:object="${task}" th:action="@{../save}" action="#"
			method="post"><label for="taskname">TO DO</label>
			<input type="hidden" th:field="*{id}" class="form-control" /> 
			<input type="text" th:field="*{taskname}" /> 
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="importance">Importance</label>
			<input type="text" th:field="*{importance}" /> 
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="complete">Completion</label>
			<input type="text" th:field="*{complete}" /> 
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="categorylist">Category</label>
			<select id="catlist" th:field="*{category}" class="form-control"><option
					th:each="category: ${categories}" th:value="${category.categoryid}"
					th:text="${category.name}"></option>
			</select> <input type="submit" value="Save" class="btn btn-success"></input>
		</form>
		
	</div>
	</div>
	</div>
</body>
</html>
